@font-face {
    font-family: 'Akira Expanded';
    src: url('../fonts/Akira/AkiraExpanded.woff2') format('woff2'),
        url('../fonts/Akira/AkiraExpanded.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akira Expanded Outline';
    src: url('../fonts/Akira/AkiraExpanded-Outline.woff2') format('woff2'),
        url('../fonts/Akira/AkiraExpanded-Outline.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.ComingSoonNml {
    font-family: 'Akira Expanded';
}

.ComingSoonOtl {
    font-family: 'Akira Expanded Outline';
}