.HeaderContainer {
    color: #FFFFFF;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderContainer span {
    font-weight: bold;
}

.HeaderContainer ul {
    list-style-type: none;
}

.HeaderContainer ul li {
    float: left;
    font-size: 28px;
    margin-left: 25px;
}

.HeaderContainer ul li > .Icon, .HeaderContainer ul li {
    transition: all .2s ease-out;
}

.HeaderContainer ul li > .Icon:hover, .HeaderContainer ul li:hover {
    color: #FF009C;
    cursor: pointer;
}

.FullNameHeader > span {
    color: #FFFFFF;
    transition: all .2s ease-out;
}

.FullNameHeader > span:hover {
    color: #FF009C;
}
