.BackTopButton {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 999;
}

.CircleText {
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Akira Expanded';
}

.CircleTextDark {
    font-weight: 500;
}

.CircleText span {
    position: absolute;
    left: 50%;
    bottom: 27.5px;
    transform-origin: 0 100px;
}

.Arrow {
    color: #FFFFFF;
    font-size: 32px;
}